.aone {
    background-color: rgb(255, 73, 73);
    width: 50%;
    height: 40px;
}

.atwo {
    background-color: rgb(255, 177, 232);
    width: 50%;
    height: 40px;
    float: right;
    margin-top: -40px;
}

.bone {
    background-color: brown;
    width: 25%;
    height: 40px;
    margin-top: 0;
}

.btwo {
    background-color: rgb(2, 131, 51);
    width: 25%;
    height: 40px;
    margin: -56px 0 0 25%;
}

.bthree {
    background-color: rgb(82, 82, 255);
    width: 25%;
    height: 40px;
    margin: -40px 0 0 50%;
}

.bfour {
    background-color: rgb(180, 178, 30);
    width: 25%;
    height: 40px;
    margin: -40px 0 0 0;
    float: right;
}

.cone {
    background-color: rgb(1, 1, 124);
    width: 33.3%;
    height: 40px;
    margin-top: 0;
}

.ctwo {
    background-color: rgb(196, 212, 51);
    width: 33.3%;
    height: 40px;
    margin: -56px 0 0 33.3%;
}

.cthree {
    background-color: rgb(29, 197, 175);
    width: 33.4%;
    height: 40px;
    margin: -40px 0 0 0;
    float: right;
}

.done {
    background-color: rgb(11, 11, 184);
    width: 75%;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.dtwo {
    background-color: rgb(226, 136, 19);
    width: 25%;
    height: 40px;
    margin: -40px 0 0 0;
    float: right;
}

.eone {
    background-color: rgb(73, 209, 46);
    width: 25%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.etwo {
    background-color: rgb(231, 12, 213);
    width: 75%;
    height: 40px;
    margin: -40px 0 0 0;
    float: right;
}

.fone {
    background-color: rgb(101, 0, 141);
    width: 40%;
    height: 40px;
    margin-top: 0px;
}

.ftwo {
    background-color: rgb(184, 174, 32);
    width: 30%;
    height: 40px;
    margin: -56px 0 0 40%;
}

.fthree {
    background-color: rgb(238, 241, 53);
    width: 30%;
    height: 40px;
    margin: -40px 0 0 0;
    float: right;
}

.gone {
    background-color: rgb(44, 25, 151);
    width: 40%;
    height: 40px;
    margin-top: 0%;
}

.gtwo {
    background-color: rgb(18, 241, 47);
    width: 20%;
    height: 40px;
    margin: -56px 0 0 40%;
}

.gthree {
    background-color: rgb(137, 145, 28);
    width: 20%;
    height: 40px;
    margin: -40px 0 0 60%;
}

.gfour {
    background-color: rgb(250, 34, 185);
    width: 20%;
    height: 40px;
    margin-top: -40px;
    float: right;
}

.hone {
    background-color: rgb(100, 255, 86);
    width: 10%;
    height: 40px;
    margin-top: 0%;
}

.htwo {
    background-color: rgb(18, 241, 230);
    width: 10%;
    height: 40px;
    margin: -56px 0 0 10%;
}

.hthree {
    background-color: rgb(100, 255, 86);
    width: 10%;
    height: 40px;
    margin: -40px 0 0 20%;
}

.hfour {
    background-color: rgb(116, 14, 94);
    width: 10%;
    height: 40px;
    margin: -40px 0 0 30%;
}

.hfive {
    background-color: rgb(18, 241, 47);
    width: 10.1%;
    height: 40px;
    margin: -40px 0 0 40%;
}

.hsix {
    background-color: rgb(255, 136, 25);
    width: 10%;
    height: 40px;
    margin: -40px 0 0 50%;
}

.hseven {
    background-color: rgb(255, 0, 179);
    width: 10%;
    height: 40px;
    margin: -40px 0 0 60%;
}

.height {
    background-color: rgb(59, 255, 213);
    width: 10%;
    height: 40px;
    margin: -40px 0 0 70%;
}

.hnine {
    background-color: rgb(155, 10, 10);
    width: 10%;
    height: 40px;
    margin: -40px 0 0 80%;
}

.hten {
    background-color: rgb(35, 10, 68);
    width: 10%;
    height: 40px;
    margin: -40px 0 0 90%;
}

.ione {
    background-color: rgb(223, 6, 6);
    width: 10%;
    height: 40px;
    margin: 0 0 0 0;
}

.itwo {
    background-color: rgb(62, 62, 247);
    width: 90%;
    height: 40px;
    margin: -40px 0 0 0;
    float: right;
}

.jone {
    background-color: rgb(33, 202, 11);
    width: 90%;
    height: 40px;
    margin: 0 0 0 0;
}

.jtwo {
    background-color: rgb(128, 8, 102);
    width: 10%;
    height: 40px;
    margin-top: -40px;
    float: right;
}

.kone {
    background-color: rgb(236, 240, 37);
    width: 45%;
    height: 40px;
    margin-top: 0px;
}

.ktwo {
    background-color: rgb(75, 9, 69);
    width: 35%;
    height: 40px;
    margin: -56px 0 0 45%;
}

.kthree {
    background-color: rgb(0, 255, 34);
    width: 20%;
    height: 40px;
    margin-top: -40px;
    float: right;
}